body {
    background-color: #ffffff;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /*  */
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    color: #ffffff;
    background-color: #6495ed;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4169e1;
}

button:active {
    background-color: #00008b;
    transition: background-color 0.1s ease;
}

input {
    font-size: 1em;
    color: #00008b;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    background-color: #6495ed;
    padding: 10px 7% 10px 7%;
    border-radius: 10px;
}

.calculator h1 {
    width: 100%;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}

#result {
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(4, 64, 20);
    margin-top: 20px;
    text-align: center;
}

.bgresult{
    background: #d2f4ef;
    padding: 10px 20px;
    border-radius: 5px;
}

#error {
    color: red;
}

.bgerror {
    background-color: rgb(243, 226, 226);
    padding: 10px 20px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container button {
    flex: 1 0 31%;
}
